# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore CSV data files
*.csv

data/
logs/

# Python package files
*.egg
*.egg-info/

*checkpoint.py
tempCodeRunnerFile.py

docs/build/html.zip